<form class='update-drink'>
  <input value={{drink.name}}></input>
  <input value={{drink.alcohol}}></input>
  <input value={{drink.mixers}}></input>
  <input value={{drink.directions}}></input>
  <div class="row">
    <div class="col-sm-6">
      <button class="submit-edit-drink drink-btn" type="submit">Submit</button>
    </div>
    <div class="col-sm-6">
      <button class="delete-drink drink-btn" data-id={{drink.id}}>Delete drink</button>
    </div>
    <div class="col-sm-12">
      <button class="cancel drink-btn">Cancel</button>
    </div>
  </div>
</form>
