<form class='update-drink'>
  <input value={{drink.name}}></input>
  <input value={{drink.alcohol}}></input>
  <input value={{drink.mixers}}></input>
  <input value={{drink.directions}}></input>
  <button class='submit-edit-drink drink-btn' type='submit'>Submit</button>
  <button class="delete-drink drink-btn" data-id={{drink.id}}>Delete drink</button>
  <button class="cancel drink-btn">Cancel</button>
</form>
