<form class='update-drink'>
  <input value={{drank.name}}></input>
  <input value={{drank.alcohol}}></input>
  <input value={{drank.mixers}}></input>
  <input value={{drank.directions}}></input>
  <button class='submit-edit-drink drink-btn' type='submit'>Submit</button>
  <button class="delete-drink drink-btn" data-id={{drank.id}}>Delete drink</button>
  <button class="cancel drink-btn">Cancel</button>
</form>
